@model MedShop.Core.Models.Product.ProductServiceModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:flow">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.ProductName</u></p>
            <p>Description:<b>@Model.Description</b></p>
            <p>Quantity:<b>@Model.Quantity</b></p>
            <p>Seller:<b>@Model.Seller</b></p>
            <p>
                Price:
                <b>$@String.Format("{0:f2}", Model.Price)</b>
            </p>
            <p>Category:<b>@Model.Category</b></p>
            <div class="form-inline">
                @if (this.User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                        <i class="bi bi-pencil-fill"></i>
                        Edit
                    </a>
                    <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                    <a class="ml-3 btn btn-success" asp-controller="ShoppingCart" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                        <i class="bi bi-bag-check-fill"></i>
                        Buy
                    </a>
                }
            </div>
            <p></p>
        </div>
    </div>
</div>