@model MedShop.Core.Models.Product.ProductServiceModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center text-capitalize text-primary" style="font-family: cursive">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:flow">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="card col-8 border-0" style="font-family: cursive">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header text-capitalize" style="font-size:30px">@Model.ProductName</div>
                <div class="card-body">
                    <p class="card-text">@Model.Description</p>
                </div>
                <div class="card-body">
                    <p class="card-text">Category: <b>@Model.Category</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Quantity: <b>@Model.Quantity</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Seller: <b>@Model.Seller</b></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Price: <b>$@String.Format("{0:f2}", Model.Price)</b></p>
                </div>
            </div>
            <div class="form-inline">
                @if (this.User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                        <i class="bi bi-pencil-fill"></i>
                        Edit
                    </a>
                    <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                    <a class="ml-3 btn btn-success" asp-controller="ShoppingCart" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                        <i class="bi bi-bag-check-fill"></i>
                        Buy
                    </a>
                }
            </div>
            <p></p>
        </div>
    </div>
</div>