@model MedShop.Core.Models.Product.ProductDetailsModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:flow">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.ProductName</u></p>
            <p>Description:<b>@Model.Description</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category:<b>@Model.Category</b></p>
            <div class="form-inline">
                @if (this.User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    <a class="ml-3 btn btn-success" asp-controller="Product" asp-action="AddToOrder" asp-route-id="@Model.Id">Order</a>
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Trader Info</h5>
                    <p class="card-text">Name: @Model.Trader.TraderName</p>
                    <p class="card-text">Phone Number: @Model.Trader.PhoneNumber</p>
                    <p class="card-text">Email: @Model.Trader.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>